<div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your business</p>
            <div class="row">

                <div class="col-md-6 col-12 hero-text ">
                    <figure><svg>
                            <img src="./images/about.svg">
                        </svg>
                    </figure>
                </div>

                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-item-start flex-column ">
                    <h1>WE ARE THE PROFESSIONAL DEVELOPER </h1>
                    <h1>GROWN TO BUSINESS</h1>
                    <p> and notations from <span class="bold-style">discrete mathematics</span> are useful in studying
                        and describing objects and
                        problems in branches of computer science, such as computer algorithms, programming languages,
                        cryptography, automated theorem proving, and software development.</p>
                    <button class="btn-style btn-primary">READ MORE</button>
                </div>



            </div>

        </div>
    </div>

</div>    